body {
    margin: 0 0;

}

a {
    text-decoration: none;
    color: rgb(99, 98, 98);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
a:hover{
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    padding-left: 70px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 0 10px;
    color: rgb(99, 98, 98);
}

.nav {
    display: block;
}

.nav-btn {
    background-color: #4487FA;
    border-style: none;
    color: white;
    font-size: 13px;
    width: 70px;
    height: 30px;
    font-weight: bold;
}

.logo {
    display: block;
    margin: auto;
    padding-top: 150px;
}

.search {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 600px;
    height: 45px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.search:hover {
    box-shadow: 1px 1px 3px lightgrey;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
}

.search-btn {
    height: 35px;
    width: 150px;
    border-style: none;
    border-radius: 2px;
    color: rgb(108, 124, 139);
    font-size: 16px;
}

.access {
    text-align: center;
}

.fa-search {
    
    position: absolute;
    padding-top: 16px;
    padding-left: 15px;;
    font-size: 1.1rem;
    color: lightgrey;
}
.in-icon{
    width: 600px;
    margin: 0 auto;
}
